<div>
  <%= form_with(url: transactions_deposit_index_path, method: :post, model: @transaction) do |f| %>
    <div class="field">
      <%= f.label :value_transaction %><br />
      <%= f.number_field :value_transaction, autofocus: true %>
    </div>
    <div class="actions">
      <%= f.submit "Adicionar" %>
    </div>
  <% end %>
</div>
